dist/
src/alpenglow/
src/assert/
src/axon/
src/babel/
src/bamboo/
src/brand/
src/chipper/
src/dot/
src/griddle/
src/joist/
src/kite/
src/mobius/
src/nitroglycerin/
src/perennial-alias/
src/phet-core/
src/phetcommon/
src/query-string-machine/
src/scenery/
src/scenery-phet/
src/sherpa/
src/sun/
src/tambo/
src/tandem/
src/tappi/
src/twixt/
src/utterance-queue/
src/vegas/

third-party-licenses/
dependencies.json

tsconfig.tsbuildinfo

.idea/
node_modules/
*.iml
.DS_Store
.DS_Store?
*.sublime-project
*.sublime-workspace
.eslintcache
